<html>
<head>
	<title>Mustapha</title>
	<link rel="stylesheet" href="/bootstrap.css">
</head>
<body>


	<div class="container p-4">

		<h3 class="text-info">Mustapha</h3>
		
		<img src="/mm.jpg" class="img-fluid" >

	</div>



</body>
</html>